<header class="press bor_bottom bor_gray_ddd bg_gray_f9f"></header>

<main></main>

<footer class="press bg_gray_f9f">
  <menu class="bor_gray_ddd bor_top">
    <button type="button" class="fl h_100" data-href="/page1">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">功能</em>
    </button>
    <button type="button" class="fl h_100" data-href="/page2">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">聊天</em>
    </button>
    <button type="button" class="fl h_100" data-href="/page3">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">瀑布流</em>
    </button>
    <button type="button" class="fl h_100" data-href="/page4">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">布局</em>
    </button>
    <button type="button" class="fl h_100 new_icon" data-href="/page5">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">加载</em>
    </button>
  </menu>
</footer>
