<header class="press bor_bottom bor_gray_ddd bg_gray_f9f"></header>

<main></main>

<footer class="press bg_gray_f9f">
  <menu class="bor_gray_ddd bor_top">
    <button type="button" class="fl" data-href="/page1.html">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">功能</em>
    </button>
    <button type="button" class="fl" data-href="/page2.html">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">聊天</em>
    </button>
    <button type="button" class="fl" data-href="/page3.html">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">时间轴</em>
    </button>
    <button type="button" class="fl" data-href="/page4.html">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">布局</em>
    </button>
    <button type="button" class="fl new_icon" data-href="/page5.html">
      <i class="text_18em c_gray_777"></i>
      <em class="text_08em c_gray_777">加载</em>
    </button>
  </menu>
</footer>
