<header class="press bor_bottom bor_gray_ddd bg_gray_f9f"></header>

<main></main>

<footer class="press bg_gray_f9f">
  <menu class="bor_gray_ddd bor_top">
    <button type="button" data-href="/page1">
      <i class="text_18rem"></i>
      <em class="text_08rem">功能</em>
    </button>
    <button type="button" data-href="/page2">
      <i class="text_18rem"></i>
      <em class="text_08rem">聊天</em>
    </button>
    <button type="button" data-href="/page3">
      <i class="text_18rem"></i>
      <em class="text_08rem">瀑布流</em>
    </button>
    <button type="button" data-href="/page4">
      <i class="text_18rem"></i>
      <em class="text_08rem">布局</em>
    </button>
    <button type="button" class="new_icon" data-href="/page5">
      <i class="text_18rem"></i>
      <em class="text_08rem">加载</em>
    </button>
  </menu>
</footer>
